gensim==4.4.0
matplotlib==3.10.7
nltk==3.9.2
numpy==2.3.4
pandas==2.3.3
praw==7.8.1
prawcore==2.4.0
pyLDAvis==3.4.1
python-dotenv @ file:///croot/python-dotenv_1745610241282/work
scikit-learn==1.7.2
textblob==0.19.0
wordcloud==1.9.4
